<ion-modal-view >
	<ion-header-bar class="bar-stable">
		<div class="button button-clear" ng-click="closeAuthorDetailsModal()"><span class="icon ion-close"></span></div>
		<h1 class="title">{{author.displayName}}</h1>
	</ion-header-bar>
	<ion-content>
	<div class="list">
		<div class="item">
			<label>Firma:</label> {{author.company ? author.company : "-"}}
		</div>
		<div class="item item-button-right">
			<label>Telefon:</label> {{author.phone ? author.phone : "-"}}
			<button ng-if="author.phone" class="button button-balanced icon ion-ios-telephone" ng-click="openUrlNative('tel:{{author.phone}}')"></button>
		</div>
		<div class="item item-button-right">
			<label>Mobil:</label> {{author.mobile ? author.mobile : "-"}}
			<button ng-if="author.mobile" class="button button-balanced icon ion-ios-telephone" ng-click="openUrlNative('tel:{{author.mobile}}')"></button>
		</div>
		<div class="item item-button-right">
			<label>Email:</label> {{author.email ? author.email : "-"}}
			<button ng-if="author.email" class="button button-balanced icon ion-email" ng-click="openUrlNative('mailto:{{author.email}}')"></button>
		</div>
	</ion-content>
</ion-modal-view>
