<div ng-if="ngModel.attachments.length">
	<h1 ng-if="hideHeader != 'true' && editMode != 'true'" class="task-section-header">Anhänge:</h1>
	<div ng-if="hideHeader != 'true' && editMode == 'true'" class="item item-divider item-stable">Anhänge</div>
    <div ng-if="!attachmentUrls" class="center-horizontal">
		<ion-spinner></ion-spinner>
    </div>
    <div ng-if="attachmentUrls" class="media-container">
		<div ng-repeat="attachment in ngModel.attachments" class="media-item">
			<img ng-if="attachment.mimeType.indexOf('image/') == 0" ng-src="{{attachmentUrls[$index]}}" ng-click="showImage($index, attachmentUrls)"/>
			<span ng-if="attachment.mimeType.indexOf('image/') != 0" class="external-attachment" ng-click="openUrlNative(attachmentUrls[$index], attachment.mimeType)">
				<i class="symbol icon {{attachment.mimeType.indexOf('video/') == 0 ? 'ion-android-film' : 'ion-android-open'}}"></i> {{attachment.name}}
			</span>
			<div class="button-overlay" ng-if="editMode == 'true'">
				<button class="button button-clear button-assertive button-small icon ion-close delete-button" ng-click="removeAttachment($index)"></button>
			</div>
		</div>
	</div>
</div>
