<div ng-if="ngModel.attachments.length">
	<h1 ng-if="hideHeader != 'true'" class="task-section-header">Anhänge:</h1>
	<a class="item item-list-detail">
	    <div ng-if="!attachmentUrls" class="center-horizontal">
			<ion-spinner></ion-spinner>
	    </div>
	    <div ng-if="attachmentUrls">
			  <ion-scroll direction="x">
			  <img ng-repeat="(key, value) in attachmentUrls" ng-src="{{value}}" class="image-list-thumb" ng-click="
showImage($index, attachmentUrls)"/>
			    <span ng-repeat="attachment in ngModel.attachments">{{attachment.url}}</span>
			  </ion-scroll>
		</div>
	</a>
</div>
