<div class="modal modal-editor question-editor">
	<ion-header-bar class="bar-stable">
		<div class="buttons">
			<button class="button button-clear" ng-click="checkCloseEditDocumentModal()"><i class="icon ion-close"></i></button>
		</div>
		<h1 class="title"><span ng-if="editedDocument._isNew">Neue Frage</span><span ng-if="!editedDocument._isNew">Frage bearbeiten</span></h1>
		<div class="buttons">
			<button ng-if="!editedDocument._isNew" class="button button-assertive icon ion-trash-a margin-horizontal" ng-click="deleteDocument()"></button>
			<button class="button button-balanced icon-left" ng-disabled="!editedDocument.title || editedDocument.title.length == 0 || !editedDocument.text || editedDocument.text.length == 0" ng-click="saveDocument()"><i class="icon ion-checkmark"></i> Speichern</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<label ng-if="task.steps.length" class="item item-input item-select padding-vertical">
			Betrifft:
			<select ng-model="editedDocument.reference" ng-options="step.id as step.name for step in task.steps">
				<option value="">Gesamten Arbeitsauftrag</option>
			</select>
		</label>
		<label class="item item-input">
			<input ng-model="editedDocument.title" type="text" placeholder="Titel der Frage" class="bold" ng-change="setEditedDocumentDirty()">
		</label>
		<div class="item item-input">
			<textarea ng-model="editedDocument.text" msd-elastic="\n" class="fullwidth animate no-resize" placeholder="Beschreibung der Frage" ng-change="setEditedDocumentDirty()"></textarea>
		</div>
		<media-attachments ng-model="editedDocument" edit-mode="true"></media-attachments>
	</ion-content>
	<ion-footer-bar class="bar-stable">
		<div class="title">
			<i class="icon ion-android-attach"></i> Hinzufügen:
		</div>
		<div class="buttons">
			<button class="button button-clear button-positive" ng-click="attachPhoto()"><i class="icon ion-camera"></i></button>
			<span class="padding-horizontal"></span>
			<button class="button button-clear button-positive" ng-click="attachVideo()"><i class="icon ion-videocamera"></i></button>
			<span class="padding-horizontal"></span>
			<button class="button button-clear button-positive" ng-click="attachChosenMedia()"><i class="icon ion-android-folder-open"></i></button>
		</div>
	</ion-footer-bar>
</div>
