<div class="modal modal-editor reflectionAnswer-editor">
	<ion-header-bar class="bar-energized">
		<div class="buttons">
			<button class="button button-clear" ng-click="checkCloseEditDocumentModal()"><i class="icon ion-close"></i></button>
		</div>
		<h1 class="title"><span ng-if="editedDocument._isNew">Neue Einschätzung</span><span ng-if="!editedDocument._isNew">Einschätzung bearbeiten</span></h1>
		<div class="buttons">
			<button ng-if="!editedDocument._isNew" class="button button-assertive icon ion-trash-a margin-horizontal" ng-click="deleteDocument()"></button>
			<button class="button button-stable icon-left" ng-disabled="!editedDocument.rating" ng-click="saveDocument()"><i class="icon ion-checkmark"></i> Speichern</button>
		</div>
	</ion-header-bar>
	<ion-content class="padding">
		<div class="padding-bottom">
			<button ng-click="editedDocument.rating='POSITIVE'; setEditedDocumentDirty();" class="button icon httc-rating-positive{{editedDocument.rating=='POSITIVE' ? ' button-balanced' : ''}}"></button>
			<button ng-click="editedDocument.rating='NEUTRAL'; setEditedDocumentDirty();" class="button icon httc-rating-neutral{{editedDocument.rating=='NEUTRAL' ? ' button-energized' : ''}}"></button>
			<button ng-click="editedDocument.rating='NEGATIVE'; setEditedDocumentDirty();" class="button icon httc-rating-negative{{editedDocument.rating=='NEGATIVE' ? ' button-assertive' : ''}}"></button>
		</div>
		<input type="text" ng-show="editedDocument.rating" ng-model="editedDocument.text" ng-change="setEditedDocumentDirty()" class="fullwidth animate no-resize reflection-answer" placeholder="Beschreiben Sie hier Ihre Einschätzung...">
	</ion-content>
</div>
