<ion-view>
	<ion-nav-bar class="bar-calm">
		<ion-nav-back-button></ion-nav-back-button>
		<ion-nav-title>
			Fragen<span ng-if="task"> zum Arbeitsauftrag</span>
		</ion-nav-title>
		<ion-nav-buttons side="secondary">
			<button class="button button-icon icon httc-question-add" ng-click="editDocument()" on-hold="openPopoverQuestion($event)"></button>
			<button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div ng-if="!questions" class="center-horizontal">
			<ion-spinner class="spinner-large"></ion-spinner>
		</div>
		<div ng-if="questions">
			<p class="small padding">Hier haben Sie die Möglichkeit, eigene Fragen einzustellen (z.B. wenn etwas unklar ist, Sie Fragen zum weiteren Vorgehen haben o.ä.) und Fragen anderer Azubis zu beantworten. Fragen können auch von Lehrern und Ausbildern beantwortet werden.</p>
			<ion-list ng-if="questions.length">
				<ion-item ng-repeat="question in questions | orderBy:'lastUpdated' track by question.id" class="item-remove-animate item-icon-left item-icon-right" type="item-text-wrap" ui-sref="^.question({questionId:question.id})">
					<i class="icon httc-question" ng-class="{'balanced':question.acceptedAnswer}"></i>
					<h2>{{question.title}}</h2>
					<p ng-if="question._task">Arbeitsauftrag: {{question._task.name}}</p>
					<p>Anworten: {{question._answers.length || 0}}, beantwortet: <span class="balanced" ng-if="question.acceptedAnswer">Ja</span><span class="assertive" ng-if="!question.acceptedAnswer">Nein</span></p>
					<i class="icon ion-chevron-right icon-accessory"></i>
				</ion-item>
			</ion-list>
			<div ng-hide="questions.length" class="center-horizontal padding assertive">Es sind keine Fragen zu diesem Arbeitsauftrag gestellt worden.</div>
			<div class="center-horizontal padding">
				<button class="button button-calm icon-left icon httc-question-add new-question-button" ng-click="editDocument()" on-hold="openPopoverQuestion($event)">Neue Frage stellen</button>
			</div>
		</div>
	</ion-content>
</ion-view>
