<ion-view>
	<ion-nav-bar class="bar-energized">
		<ion-nav-back-button></ion-nav-back-button>
		<ion-nav-title>Erfahrungen zum Arbeitsauftrag</ion-nav-title>
		<ion-nav-buttons side="secondary">
			<button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="padding">
		<div ng-if="!reflectionAnswers" class="center-horizontal">
			<ion-spinner class="spinner-large"></ion-spinner>
		</div>
		<div ng-if="reflectionAnswers">
			<p class="small">Hier haben Sie die Möglichkeit, Ihr eigenes Handeln zu beurteilen und eigene Erfahrungen festzuhalten. Wie schätzen Sie sich selbst ein?</p>
			<div ng-if="task.reflectionQuestions.length">
				<h1 class="task-section-header padding-top">Meine Erfahrungen:</h1>
				<div class="list card">
					<div ng-repeat="reflectionQuestion in task.reflectionQuestions track by reflectionQuestion.id" class="item item-text-wrap">
						<div class="bold padding-bottom">{{reflectionQuestion.name}}</div>
						<form name="form" ng-repeat="reflectionAnswer in reflectionAnswers[reflectionQuestion.id] track by reflectionAnswer.id" class="padding-bottom">
							<div ng-if="!reflectionAnswer._isNew">
								<div>
									<div class="table-cell"><div class="display-rating {{reflectionAnswer.rating.toLowerCase()}}"><i class="httc-rating-{{reflectionAnswer.rating.toLowerCase()}}"></i></div></div>
									<div class="table-cell">{{reflectionAnswer.text}}</div>
								</div>
								<div class="padding-vertical">
									<author-info ng-model="reflectionAnswer"></author-info>
									<button ng-if="canEdit(reflectionAnswer)" class="button button-positive button-clear button-small icon ion-edit float-right" ng-click="editDocument(reflectionAnswer)"></button>
								</div>
							</div>
							<div ng-if="reflectionAnswer._isNew">
								<div class="padding-vertical">
									<button ng-click="reflectionAnswer.rating='POSITIVE'" class="button icon httc-rating-positive{{reflectionAnswer.rating=='POSITIVE' ? ' button-balanced' : ''}}"></button>
									<button ng-click="reflectionAnswer.rating='NEUTRAL'" class="button icon httc-rating-neutral{{reflectionAnswer.rating=='NEUTRAL' ? ' button-energized' : ''}}"></button>
									<button ng-click="reflectionAnswer.rating='NEGATIVE'" class="button icon httc-rating-negative{{reflectionAnswer.rating=='NEGATIVE' ? ' button-assertive' : ''}}"></button>
								</div>
								<input type="text" ng-show="reflectionAnswer.rating" ng-model="reflectionAnswer.text" class="fullwidth animate no-resize reflection-answer" placeholder="Beschreiben Sie hier Ihre Einschätzung...">
								<div class="text-right padding-top" ng-show="reflectionAnswer.rating">
									<button class="button button-balanced button-small" ng-click="saveDocument(reflectionAnswer)"><i class="icon ion-checkmark"></i> Speichern</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
