<ion-view>
  <ion-nav-title>Dokumentation des Arbeitsauftrags</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon httc-compose-add" ng-click="editDocument()"></button>
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div ng-if="!documentations" class="center-horizontal">
      <ion-spinner class="spinner-large"></ion-spinner>
    </div>
    <div ng-if="documentations">
      <div ng-hide="documentations.length" class="center-horizontal padding assertive">Es ist noch keine Dokumentation zu diesem Arbeitsauftrag angelegt worden.</div>
      <h1 ng-if="documentations.length" class="task-section-header">Meine Dokumentation:</h1>
      <div class="list card documentation" ng-repeat="documentation in documentations | orderBy:'lastUpdated'">
        <div class="item item-divider">
          <author-info ng-model="documentation"></author-info>
          <button ng-if="canEdit(documentation)" class="button button-positive button-clear button-small icon ion-edit float-right" ng-click="editDocument(documentation)"></button>
        </div>
        <div class="item item-text-wrap">
          <div class="text">{{documentation.text}}</div>
        </div>
        <media-attachments ng-model="documentation" hide-header="true"></media-attachments>
      </div>
      <div class="center-horizontal">
        <button class="button button-balanced icon-left icon httc-compose-add new-documentation-button" ng-click="editDocument()">Neue Dokumentation anlegen</button>
      </div>

      <div ng-if="reflectionQuestions.length">
        <h1 class="task-section-header padding">Meine Erfahrungen:</h1>
        <div class="list card">
          <form name="form" ng-repeat="reflectionQuestion in task.reflectionQuestions track by reflectionQuestion.id" class="item item-text-wrap">
            <div class="energized padding-bottom">{{reflectionQuestion.name}}</div>
            <author-info ng-model="reflectionAnswers[reflectionQuestion.id]"></author-info>
            <textarea ng-model="reflectionAnswers[reflectionQuestion.id].text" msd-elastic="\n" class="fullwidth animate no-resize" placeholder="Geben Sie hier Ihre Antwort ein..."></textarea>
            <div class="text-center" ng-show="form.$dirty">
              <button class="button button-balanced icon-left" ng-click="saveReflectionAnswer(reflectionAnswers[reflectionQuestion.id], form)"><i class="icon ion-checkmark"></i> Speichern</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
