<ion-view>
  <ion-nav-title>Teilschritt: {{step.name}}</ion-nav-title>
  <ion-content class="padding">
    <h3>{{step.name}}</h3>
    <p class="text">{{step.description}}</p>
    <media-attachments ng-model="step"></media-attachments>
    <learning-resources ng-model="step"></learning-resources>

    <h1 class="task-section-header">Dokumentation:</h1>
    <ion-list>
      <ion-item class="item-icon-left item-icon-right" type="item-text-wrap" href="#/tab/tasks/{{taskId}}/step/{{step.id}}/notes">
        <i class="icon ion-compose"></i>
        Meine Dokumentation des Teilschritts
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
