<ion-view>
  <ion-nav-title>Meine Dokumentation</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button icon ion-plus-round" ng-click="addNote()"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div ng-if="!notes" class="center-horizontal">
      <ion-spinner></ion-spinner>
    </div>
    <div class="list card" ng-repeat="note in notes | orderBy:'lastUpdated'">
      <div class="item item-text-wrap">
        <author-info ng-model="note"></author-info>
        <div class="text">{{note.text}}</div>
      </div>
      <media-attachments ng-model="note" hide-header="true"></media-attachments>
      <div class="item tabs tabs-secondary">
        <button class="button button-clear icon ion-trash-a" ng-click="remove(note)"></button>
      </div>
    </div>

    <div ng-if="newNoteSaving" class="center-horizontal">
      <ion-spinner></ion-spinner>
    </div>
    <div ng-if="newNote && !newNoteSaving" class="list card new-note">
      <div class="item item-text-wrap">
        <textarea ng-model="newNote.text" msd-elastic="\n" class="fullwidth animate no-resize" placeholder="Geben Sie hier Ihren Dokumentationstext ein..." autofocus></textarea>
      </div>
      <media-attachments ng-model="newNote" hide-header="true"></media-attachments>

      <div class="item tabs tabs-secondary">
        <button class="button button-clear button-positive" ng-click="attachPhoto(newNote)"><i class="icon ion-camera"></i></button>
        <button class="button button-clear button-positive" ng-click="attachVideo(newNote)"><i class="icon ion-videocamera"></i></button>
        <!--
        <button class="button button-clear button-positive" ng-click="attachAudio(newNote)"><i class="icon ion-mic-a"></i></button>
        -->
        <button class="button button-clear icon ion-trash-a" ng-click="remove(newNote)"></button>
        <button ng-disabled="!(newNote.text || newNote.attachments)" class="button button-balanced" ng-click="save(newNote)"><i class="icon ion-paper-airplane"></i> Speichern</button>
        <br>
      </div>
    </div>
    <div ng-hide="!notes || notes.length || newNote">Bisher ist noch keine Dokumentation angelegt.</div>
    <div ng-if="task.reflectionQuestions.length">
      <h1 class="task-section-header padding">Meine Erfahrungen:</h1>
      <div class="list card">
        <form name="form" ng-repeat="reflectionQuestion in task.reflectionQuestions" class="item item-text-wrap">
          <div class="positive reflection-question">{{reflectionQuestion.name}}</div>
          <author-info ng-model="reflectionAnswers[reflectionQuestion.id]"></author-info>
          <textarea ng-model="reflectionAnswers[reflectionQuestion.id].text" ng-change="reflectionAnswers[reflectionQuestion.id]._dirty=true" msd-elastic="\n" class="fullwidth animate no-resize" placeholder="Geben Sie hier Ihre Antwort ein..."></textarea>
          <div class="text-center" ng-show="form.$dirty"><button class="button button-balanced" ng-click="saveReflectionAnswer(reflectionAnswers[reflectionQuestion.id], form)"><i class="icon ion-paper-airplane"></i> Speichern</button></div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
