<ion-view>
  <ion-nav-title>Neuer Auftrag</ion-nav-title>
  <ion-content>
    <div class="padding assertive">Bitte wählen Sie eine Arbeitsprozessbeschreibung als Vorlage für den neuen Auftrag aus:</div>
    <div class="list">
      <div class="item item-stable item-button-right" ng-click="choose()">
        <div class="positive">Keine Vorlage</div>
        <div><small>Neuen Auftrag komplett neu anlegen</small></div>
        <button class="button"><i class="icon ion-forward"></i></button>
      </div>
      <div ng-repeat="template in templates" class="item item-button-right" ng-click="choose(template)">
        <div class="positive">{{template.name}}</div>
        <div class="text"><small>{{template.description}}</small></div>
        <button class="button "><i class="icon ion-forward"></i></button>
      </div>
    </div>
  </ion-content>
</ion-view>
