<!--
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
	<ion-tab title="Arbeitsauftrag" icon="httc-task" ui-sref="task.detail" ng-controller="TaskDetailCtrl">
		<ion-nav-view name="task-detail"></ion-nav-view>
	</ion-tab>
	<ion-tab title="Dokumentation" icon="httc-compose" ui-sref="task.documentation" badge="badge.count" badge-style="badge-balanced" ng-controller="TaskDocumentationCtrl">
		<ion-nav-view name="task-documentation"></ion-nav-view>
	</ion-tab>
	<ion-tab title="Fragen" icon="httc-comments" ui-sref="task.questions" badge="badge.count" badge-style="badge-calm" ng-controller="QuestionsCtrl">
		<ion-nav-view name="task-questions"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{checkReflectionQuestionsVisible()}}" title="Erfahrungen" icon="ion-android-bulb" ui-sref="task.reflectionQuestions" badge="badge.count" badge-style="badge-energized" ng-controller="ReflectionQuestionsCtrl">
		<ion-nav-view name="task-reflectionQuestions"></ion-nav-view>
	</ion-tab>
</ion-tabs>
