
/**
 * Overriden because default ionic popover style looks ugly on android. this basically is the copied ios theme, with some "undefinitions" of android styles.
 */
 // Android Popover
 .platform-android {
	 .popover {
		margin-top: 12px;
	   box-shadow: $popover-box-shadow-ios;
	   border-radius: $popover-border-radius-ios;
	   &.popover-bottom {
         margin-top: -12px;
       }
	 }
	 .popover .bar-header {
	   @include border-top-radius($popover-border-radius-ios);
	 }
	 .popover .scroll-content {
	   margin: 8px 0;
	   border-radius: $popover-border-radius-ios;
	 }
	 .popover .scroll-content.has-header {
	   margin-top: 0;
	 }
	 .popover-arrow {
	   position: absolute;
	   display: block;
	   top: -17px;
	   width: 30px;
	   height: 19px;
	   overflow: hidden;

	   &:after {
		 position: absolute;
		 top: 12px;
		 left: 5px;
		 width: 20px;
		 height: 20px;
		 background-color: $popover-bg-color;
		 border-radius: 3px;
		 content: '';
		 @include rotate(-45deg);
	   }
	 }
	 .popover-bottom .popover-arrow {
	   top: auto;
	   bottom: -10px;
	   &:after {
		 top: -6px;
	   }
	 }
	 .popover-backdrop,
	 .popover-backdrop.active {
	   background-color: $popover-backdrop-bg-active;
	 }
 }
