/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require custom-bootstrap
*= require font-awesome/font-awesome
*= require_self
*/

html { position: relative; min-height: 100%; }
body { margin-bottom:55px; }
h1 { font-size:32px; }
h2 { font-size:28px; }
#wrapper { min-height:100%; height:auto; margin:0 auto -50px }
#main-container { padding-bottom:15px }
#avatar-container { margin-bottom:15px }
#loginWrapper { max-width:350px; margin:50px auto }
#google-play-link { padding-top:6px; padding-bottom:0; padding-right:0;}
#google-play-link img { height:40px; }
.error input { border-color:red; }
.version { font-family:monospace; color:#CCC !important; font-size:14px }
.btn-small { font-size:80%; padding:3px 5px }
.padding-vertical { padding-top:10px; padding-bottom:10px }
.padding-left { padding-left:10px }
.full-width { width:100% }
header h1, .navbar-default .navbar-brand { color:#a11d21 }
header #logo, .navbar-header #logo { width:32px; margin-top:-6px;}
footer.footer { position:absolute; bottom:0; width:100%; height:52px;}
footer.footer .navbar { margin-bottom:0 }
footer.footer .navbar-toggle .toggle-icon { display:block; width:24px; font-family:"FontAwesome"}
footer.footer .navbar-toggle .toggle-icon:before { content:"\f077";}
footer.footer .navbar-toggle.collapsed .toggle-icon:before { content:"\f078";}

th { white-space:nowrap; }
th.sortable { padding-right:12px !important; }
th.sortable.sorted { position:relative; }
th.sortable.sorted.asc a:after { font-family:"FontAwesome"; content:"\00a0\f0d8"; position:absolute }
th.sortable.sorted.desc a:after { font-family:"FontAwesome"; content:"\00a0\f0d7"; position:absolute }
.task-info-table td { padding:4px 0; vertical-align:middle }
.task-info-table td:first-child { white-space:nowrap; font-weight:bold; padding-right:8px }
.dropdown-menu > li > a { padding-top:9px; padding-bottom:9px }
.page-header { margin-top:0; word-break:break-all; }
.text-default, .text-default:hover { color:initial }
.filter .checkbox { display:inline; padding:0 10px; }
.dashboard-create-links-panel .btn { white-space: inherit }

 .avatar { font-size:28px }
.form-padding { padding-top:7px }
.form-padding-all { padding:7px 0 }
.margin { margin-top:10px; }
.margin-right { margin-right:10px }
.attachments .thumbnail { width:80px; height:auto; min-height:70px; line-height:70px; margin-right:15px; vertical-align:middle }
.attachments .thumbnail .caption { word-break:break-all; line-height:initial; font-size:75% }
.drag-handle { cursor:move; cursor:-webkit-grabbing }

body.task.create .list-group, body.task.createTemplate .list-group, body.task.edit .list-group { margin-bottom:0 }
body.task.create .list-group li:last-child, body.task.createTemplate .list-group li:last-child, body.task.edit .list-group li:last-child { margin-bottom:20px }
body.task.show .steps { counter-reset:step-counter }
body.task.show .steps .list-group-item-heading:before { content:counter(step-counter) ". "; counter-increment:step-counter; color:#CCC; font-weight:bold }
body.termsOfUse form { margin:40px 0; }
.reflection-question { font-weight:bold }
.formatted { white-space:pre-line }
.panel-title { font-weight:bold }
.struck { text-decoration:line-through }
.search-result-link.asset:before { content:'\00a0\f02d'; font-family:"FontAwesome"; width:25px; display:inline-block; text-align:left}
.search-result-link.task:before { content:'\00a0\f044'; font-family:"FontAwesome"; width:25px; display:inline-block; text-align:left}
.search-result-link.reflectionquestion:before { content:'\00a0\f128'; font-family:"FontAwesome"; width:25px; display:inline-block; text-align:left}

body.question.show .question, .answer { display:flex}
body.question.show h1 { font-size: 24px}
body.question.show .rating-control { display:inline-block; margin-top:-12px }
body.question.show .rating-control .rate { color:#AAA; }
body.question.show .rating-control .rating { margin-top:-10px }
body.question.show .rating-control .rating { font-size:2em; color:#AAA; }
body.question.show .comments-list .header { color:#AAA }
body.question.show .comments-list .comment { font-size:75%; border-bottom:1px dotted #EEE; padding:3px 0; margin:3px 0}
body.question.show .comments-list .modal { font-size:initial }
body.question.show .comments-list .profile-link img { width:28px; }
body.question.show .answer { margin-top:20px; padding-top:20px; border-top:1px solid #EEE}
body.question.show .accept-answer-button { color:#AAA }
